USE [master]
GO
/****** Object:  Database [doan]    Script Date: 24-Apr-25 4:01:04 AM ******/
CREATE DATABASE [doan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'doan', FILENAME = N'D:\MS SQL2022 DATABASE\do an ki 3 3\doan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'doan_log', FILENAME = N'D:\MS SQL2022 DATABASE\do an ki 3 3\doan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [doan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [doan]
GO
/****** Object:  Table [dbo].[hang]    Script Date: 24-Apr-25 4:01:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hang](
	[ma hang] [nchar](10) NOT NULL,
	[ma khu] [nchar](10) NULL,
	[stt] [int] NULL,
 CONSTRAINT [PK_hang] PRIMARY KEY CLUSTERED 
(
	[ma hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khu]    Script Date: 24-Apr-25 4:01:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khu](
	[ma khu] [nchar](10) NOT NULL,
	[ten khu] [nchar](10) NULL,
 CONSTRAINT [PK_khu] PRIMARY KEY CLUSTERED 
(
	[ma khu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[o]    Script Date: 24-Apr-25 4:01:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[o](
	[ma_o] [nchar](10) NOT NULL,
	[ma hang] [nchar](10) NULL,
	[stt] [int] NULL,
	[suc chua] [int] NULL,
	[sl_xe] [int] NULL,
	[sl_trong] [int] NULL,
 CONSTRAINT [PK_o] PRIMARY KEY CLUSTERED 
(
	[ma_o] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vitrixe]    Script Date: 24-Apr-25 4:01:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vitrixe](
	[bien so] [nvarchar](15) NULL,
	[mssv_cccd] [nvarchar](15) NULL,
	[ma_o] [nchar](10) NULL,
	[tg gui] [nchar](10) NULL,
	[tg lay] [nchar](10) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[hang]  WITH CHECK ADD  CONSTRAINT [FK_hang_khu] FOREIGN KEY([ma khu])
REFERENCES [dbo].[khu] ([ma khu])
GO
ALTER TABLE [dbo].[hang] CHECK CONSTRAINT [FK_hang_khu]
GO
ALTER TABLE [dbo].[o]  WITH CHECK ADD  CONSTRAINT [FK_o_hang] FOREIGN KEY([ma hang])
REFERENCES [dbo].[hang] ([ma hang])
GO
ALTER TABLE [dbo].[o] CHECK CONSTRAINT [FK_o_hang]
GO
ALTER TABLE [dbo].[vitrixe]  WITH CHECK ADD  CONSTRAINT [FK_vitrixe_o] FOREIGN KEY([ma_o])
REFERENCES [dbo].[o] ([ma_o])
GO
ALTER TABLE [dbo].[vitrixe] CHECK CONSTRAINT [FK_vitrixe_o]
GO
/****** Object:  Trigger [dbo].[TR_AfterDeleteViTriXe]    Script Date: 24-Apr-25 4:01:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--trigger
--trigger_ gui xe
CREATE TRIGGER [dbo].[TR_AfterDeleteViTriXe]
ON [dbo].[vitrixe]
AFTER DELETE
AS
BEGIN
    UPDATE o
    SET
        sl_xe = o.sl_xe - (SELECT COUNT(*) FROM deleted WHERE deleted.ma_o = o.ma_o),
        sl_trong = o.sl_trong + (SELECT COUNT(*) FROM deleted WHERE deleted.ma_o = o.ma_o)
    FROM o
    INNER JOIN deleted ON o.ma_o = deleted.ma_o;
END;
GO
ALTER TABLE [dbo].[vitrixe] ENABLE TRIGGER [TR_AfterDeleteViTriXe]
GO
/****** Object:  Trigger [dbo].[TR_AfterInsertViTriXe]    Script Date: 24-Apr-25 4:01:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--trigger_ lay xe
CREATE TRIGGER [dbo].[TR_AfterInsertViTriXe]
ON [dbo].[vitrixe]
AFTER INSERT
AS
BEGIN
    UPDATE o
    SET
        sl_xe = (SELECT COUNT(*) FROM dbo.vitrixe WHERE ma_o = inserted.ma_o),
        sl_trong = 6 - (SELECT COUNT(*) FROM dbo.vitrixe WHERE ma_o = inserted.ma_o)
    FROM o
    INNER JOIN inserted ON o.ma_o = inserted.ma_o;
END;
GO
ALTER TABLE [dbo].[vitrixe] ENABLE TRIGGER [TR_AfterInsertViTriXe]
GO
USE [master]
GO
